In [ ]:
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.3.0)

In [ ]:
from pymongo import MongoClient

In [ ]:
import pymongo

In [1]:
connection_str = "mongodb+srv://josekrudolf:J0LW7MFMFZyYyBAA@mlds3.31cderq.mongodb.net/?retryWrites=true&w=majority"

In [ ]:
client = MongoClient(connection_str)

In [ ]:
db = client["cluster1"]
collection = db["clientes"]

In [ ]:
print(db)

Database(MongoClient(host=['ac-xscsqt3-shard-00-00.31cderq.mongodb.net:27017', 'ac-xscsqt3-shard-00-02.31cderq.mongodb.net:27017', 'ac-xscsqt3-shard-00-01.31cderq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-11vj7u-shard-0', tls=True), 'cluster1')

In [ ]:
print(collection)

Collection(Database(MongoClient(host=['ac-xscsqt3-shard-00-00.31cderq.mongodb.net:27017', 'ac-xscsqt3-shard-00-02.31cderq.mongodb.net:27017', 'ac-xscsqt3-shard-00-01.31cderq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-11vj7u-shard-0', tls=True), 'cluster1'), 'clientes')

In [ ]:
data = {"Nombre":"José Alfredo",
        "Apellido": "Rojas Yotengo",
        "Monto Comprado":2500000,
        "Categoria":["Cemento"],
        "Sub categoria":["Cemento gris"],
        "Departamento": "Huila",
        "Municipio":"La plata"}

In [ ]:
collection.insert_one(data)

In [ ]:
multiples_datos = datos = [
	{"Nombre":"Juan Sebastian",
        "Apellido": "Bonilla Delgado",
        "Monto Comprado": 3970588,
        "Categoria":["Materiales de Construccion"],
        "Sub categoria":["Cubiertas y tejas"],
        "Departamento": "Huila",
        "Municipio":"La plata"},

	{"Nombre":"Harvy Eduardo",
        "Apellido": "Becerra Castro",
        "Monto Comprado":5025000,
        "Categoria":["Cemento"],
        "Sub categoria":["Cemento gris"],
        "Departamento": "Huila",
        "Municipio":"Garson"},

	{"Nombre":"Fanny",
        "Apellido": "Rocío Viscaya",
        "Monto Comprado":252100,
        "Categoria":["Acero"],
        "Sub categoria":["Acero de Construccion"],
        "Departamento": "Mocoa",
        "Municipio":"Putumayo"},

	{"Nombre":"Victor Alfonso",
        "Apellido": "Trujillo Rojas",
        "Monto Comprado":4580000,
        "Categoria":["Ferretería"],
        "Sub categoria":["Clavos y puntilla"],
        "Departamento": "Huila",
        "Municipio":"Neiva"},

	{"Nombre":"Guillermo",
        "Apellido": "Fernandez Arena",
        "Monto Comprado":2436974,
        "Categoria":["Materiales De Construccion"],
        "Sub categoria":["Bloques"],
        "Departamento": "Valle Del Cauca",
        "Municipio":"Tulua"},

	{"Nombre":"Yaneth",
        "Apellido": "Rodriguez Ocampo",
        "Monto Comprado":1025210,
        "Categoria":["Cemento"],
        "Sub categoria":["Cemento gris"],
        "Departamento": "Tolima",
        "Municipio":"Mariquita"},

	{"Nombre":"Miguel Angel",
        "Apellido": "Hernandez Vasquez",
        "Monto Comprado":5600000,
        "Categoria":["Cemento"],
        "Sub categoria":["Cemento gris"],
        "Departamento": "Tolima",
        "Municipio":"Mariquita"}
]

In [ ]:
collection.insert_many(multiples_datos)

In [ ]:
import json

In [ ]:
with open('/content/base de datos unal.json') as f:
    base_datos = json.load(f)

In [ ]:
collection.insert_many(base_datos)

Seleccionar una venta correspondiente al cliente **José Alfredo rojas yotengo**

In [ ]:
res = collection.find_one({"Nombre": "José Alfredo"})
print(res)

{'_id': ObjectId('649a5667f02a757b7aa0a653'), 'Nombre': 'José Alfredo', 'Apellido': 'Rojas Yotengo', 'Monto Comprado': 2500000, 'Categoria': ['Cemento'], 'Sub categoria': ['Cemento gris'], 'Departamento': 'Huila', 'Municipio': 'La plata'}

Seleccionar todas las ventas del cliente **Miguel Angel Hernandez Vasquez**

In [ ]:
res = list(collection.find({"Nombre":"Miguel Angel"}))
print(res)

[{'_id': ObjectId('649a5677f02a757b7aa0a65a'), 'Nombre': 'Miguel Angel', 'Apellido': 'Hernandez Vasquez', 'Monto Comprado': 5600000, 'Categoria': ['Cemento'], 'Sub categoria': ['Cemento gris'], 'Departamento': 'Tolima', 'Municipio': 'Mariquita'}]

**Número de compras del cliente Victor Alfonso**

In [ ]:

nombre_cliente = "Victor Alfonso"
num_compras = collection.count_documents({"Nombre": nombre_cliente})
print(f"Número de compras de {nombre_cliente}: {num_compras}")

Número de compras de Victor Alfonso: 1

Numero de compras que realizo cada cliente que está en la base de datos

In [ ]:
# Realiza la agregación para calcular el número total de compras por cliente
pipeline = [
    {
        "$group": {
            "_id": "$Nombre Usuario",
            "num_compras": {"$sum": 1}
        }
    }
]

resultado = collection.aggregate(pipeline)

# Imprime el número total de compras por cada cliente
for doc in resultado:
    print(f"Número total de compras de {doc['_id']}: {doc['num_compras']}")

Número total de compras de Efrain Torres Tirado: 37
Número total de compras de Gerardo Cala Duran: 10
Número total de compras de José Alfredo rojas yotengo: 2
Número total de compras de Jaime Pico Mendez: 8
Número total de compras de Deibi Johane Pinzón Barrera: 2
Número total de compras de José Alejandro Martínez Muñoz: 4
Número total de compras de Edgar Armando Perez Vega: 18
Número total de compras de Miguel Ángel Hernández: 2
Número total de compras de Juan Camilo Sánchez: 2
Número total de compras de Jairo abril pinto: 3
Número total de compras de Javier Antonio Forero Durán: 4
Número total de compras de Javier Rivera Bernal: 2
Número total de compras de Jairo Mauricio Obregón Lizarazo: 7
Número total de compras de Clodomiro Perez Duarte: 34
Número total de compras de Fabio Garcia Puentes: 5
Número total de compras de Wilmer Ferney Hernandez Gomez: 42
Número total de compras de Jaime Andrés Villamil: 13
Número total de compras de Isidro Baez Gomez: 11
Número total de compras de Jackson Javier Amaya: 12
Número total de compras de Lucila Saavedra De Suarez: 9
Número total de compras de Campos anibal rugeles: 9
Número total de compras de Nohra Lucero Rueda Albarracín: 5
Número total de compras de Jacqueline Rodríguez Guevara: 8
Número total de compras de David Alexander Silva Sanchez: 226
Número total de compras de Julián Andrés Lamuz Vergel: 16
Número total de compras de Jorge Enrique Álvarez Vargas: 18
Número total de compras de Luis David Moreno Plata: 32
Número total de compras de Luis Alfredo Castañeda Peña: 2
Número total de compras de Alexander Rangel: 5
Número total de compras de Heberth Stiven Gerena Bello: 8
Número total de compras de Carlos Luis Salamanca Ramírez: 4
Número total de compras de Luz  Alba Ardila: 4
Número total de compras de Joseph Fernando Ortiz Rivera: 2
Número total de compras de Edgar Alonso Sarmiento Olarte: 7
Número total de compras de Javier Durán: 1
Número total de compras de Pedro David Rodriguez Santamaria: 7
Número total de compras de Uriel Rugeles Camacho: 53
Número total de compras de Luis Alirio Aguilar Barragan: 67
Número total de compras de Oscar Blanco Arenas: 7
Número total de compras de María Carolina Figueroa: 2
Número total de compras de José Gerardo Calderón Quintero: 15
Número total de compras de Marco Fidel Suárez Ruiz: 27
Número total de compras de Juan Carlos Moreno Plata: 9
Número total de compras de Iván Yesid Hernández Larrota: 87
Número total de compras de Sebastián Alba Chávez: 2
Número total de compras de Luis Moreno Carreño: 5
Número total de compras de Juana Cervantes Palacin: 3
Número total de compras de Luis Nelson Avellaneda Ortiz: 43
Número total de compras de Víctor Alfonso Trullo Rojas: 5
Número total de compras de Andrés Hernando García: 103
Número total de compras de Yurian Fernandez: 3
Número total de compras de ALFONSO AFANADOR MARIN: 7
Número total de compras de Andres Fernando Martinez Mera: 3
Número total de compras de Amparo Ortiz prada: 2
Número total de compras de Rubén Castro Velandia: 2
Número total de compras de Luz Myriam Ruiz Meneses: 12
Número total de compras de Alderson Carmona Aguirre: 2
Número total de compras de Jhon Fredy Mosquera Traslaviña: 11
Número total de compras de Jose Manuel Muñoz Carreño: 8
Número total de compras de Yhoan Andrés Melo Losada: 2
Número total de compras de Alvaro Zambrano Uribe: 11
Número total de compras de Jesús Riaño Salazar: 5
Número total de compras de Juan Pablo Puentes Ayala: 48
Número total de compras de Carlos Humberto Duarte Amorocho: 8
Número total de compras de Vitaliano Iguavita Ruiz: 61
Número total de compras de Orlando Manrique Cárdenas: 5
Número total de compras de Stiven augusto beltran duque: 4
Número total de compras de Diana Carolina Pachon Ayala: 5
Número total de compras de José Del Carmen Barajas: 162
Número total de compras de Óscar andelfo gamboa Suárez: 16
Número total de compras de Wilson Gómez castellanos: 11
Número total de compras de Néstor Murillo Murillo: 25
Número total de compras de Guillermo Fernández Aranda: 3
Número total de compras de América Neira: 6
Número total de compras de Harol Manrique Cano: 2
Número total de compras de Felipe Gaviria: 2
Número total de compras de Carmen Cecilia Cristancho Ardila: 2
Número total de compras de César Mauricio Morales: 2
Número total de compras de Ana Maria Charry Quimbaya: 3
Número total de compras de Segundo Ovalle: 41
Número total de compras de José Antonio Meza Cediel: 6
Número total de compras de José David Abril: 15
Número total de compras de Gerardo Beltrán Martínez: 10
Número total de compras de Fanny Rocío Culma Vizcaya: 3
Número total de compras de Pilar Amanda Bohórquez: 171
Número total de compras de Diego Alexander Rangel Salazar: 11
Número total de compras de Edwin Humberto Umaña Arenas: 116
Número total de compras de Edilia Bohorquez Rodriguez: 9
Número total de compras de Luis Alfonso Quiroga Duarte: 3
Número total de compras de Juan Cesar Gomez Quintero: 94
Número total de compras de Harvy Eduardo Becerra: 3
Número total de compras de Alejandro Javier Niño Morantes: 76
Número total de compras de Mario Fernando Vásquez Garcés: 24
Número total de compras de Luz Alba Zambrano Pérez: 10
Número total de compras de Arbey Sanchez luengas: 6
Número total de compras de Hugo Cárdenas Nieves: 9
Número total de compras de Jeison Prada Ortiz: 15
Número total de compras de Javier Alonso Benavides Aparicio: 7
Número total de compras de Zarik Dayana Alejandra Chacón Porras: 3
Número total de compras de Luis Jose Perez vega: 8
Número total de compras de Juan Sebastian Bonilla Delgado: 2
Número total de compras de Jose Arnulfo Jimenez Rincon: 21
Número total de compras de Laura Vanessa Pico Yáñez: 3
Número total de compras de Jhon Freddy Sierra Amaya: 57
Número total de compras de None: 8
Número total de compras de Elías Rodríguez: 68
Número total de compras de Raul Parra Toloza: 1
Número total de compras de Mauricio Botero Arango: 2
Número total de compras de Freddy Alberto Quintero Villarreal: 36
Número total de compras de Israel Toledo Vargas: 2
Número total de compras de César Andrés Cortes Rangel: 4
Número total de compras de Carlos Andres Rodriguez: 3
Número total de compras de Eduin Jose Bastidas Perez: 1
Número total de compras de Juan Fernando Millán Quintero : 2
Número total de compras de Dolores Garcia Sanchez: 3
Número total de compras de Leonardo Pabon Santana: 21
Número total de compras de Renso Camacho: 47
Número total de compras de Jhon Alexis Restrepo Ochoa: 4
Número total de compras de Carlos Calderón: 124
Número total de compras de Yeison Herrera: 4
Número total de compras de Andrea Yineth Vásquez Serrano: 9
Número total de compras de Luis Felipe Sáenz Oses: 6
Número total de compras de Yuber Maldonado Florez: 201
Número total de compras de Yaneth Rodríguez ocampo: 3
Número total de compras de Helio Jose Pérez Abril: 3
Número total de compras de Diana Maria Rueda Arciniegas: 13
Número total de compras de Juan De Dios Gómez Santos: 23
Número total de compras de Kevin Giovanny Martinez Garcia: 2
Número total de compras de Andrés Fernando Robles Rodríguez: 3
Número total de compras de Carlos Alberto Cadena: 6
Número total de compras de Flor Alba Verdugo: 9
Número total de compras de Carlos Israel Caballero ceron: 3
Número total de compras de Carlos Andrés Parra Rodríguez: 8
Número total de compras de Cristián Serrano: 3
Número total de compras de Manuela Carmona Aguirre: 4
Número total de compras de Cristóbal Zambrano Pérez: 23
Número total de compras de Edeison Puentes Ayala: 52
Número total de compras de Heriberto Rueda González: 3
Número total de compras de Alfonso afanador: 2
Número total de compras de Daniel Stevens Regino Osorio: 1
Número total de compras de Jorge Eliecer Galviz: 5

In [ ]:
# Realiza la agregación para contar el número de compras por Categoria
pipeline = [
    {
        "$unwind": "$Categoria"
    },
    {
        "$group": {
            "_id": "$Categoria",
            "num_compras": {"$sum": 1}
        }
    }
]

resultado = collection.aggregate(pipeline)

# Imprime el número de compras por cada categoría
for doc in resultado:
    print(f"Número de compras de la Categoria {doc['_id']}: {doc['num_compras']}")

Número de compras de la Categoria Materiales De Construccion: 1
Número de compras de la Categoria Acero: 1
Número de compras de la Categoria Electricidad: 34
Número de compras de la Categoria Ferretería: 95
Número de compras de la Categoria CEMENTO: 765
Número de compras de la Categoria Herramientas: 12
Número de compras de la Categoria Pisos y paredes: 28
Número de compras de la Categoria PINTURAS: 9
Número de compras de la Categoria MATERIALES DE CONSTRUCCIÓN: 1331
Número de compras de la Categoria Aceros: 590
Número de compras de la Categoria Cemento: 6
Número de compras de la Categoria Pintura: 4
Número de compras de la Categoria Materiales de Construccion: 1

In [ ]:
# Realiza la agregación para contar el número de compras por Sub Categoria
pipeline = [
    {
        "$unwind": "$Subcategoria"
    },
    {
        "$group": {
            "_id": "$Subcategoria",
            "num_compras": {"$sum": 1}
        }
    }
]

resultado = collection.aggregate(pipeline)

# Imprime el número de compras por cada Sub categoría
for doc in resultado:
    print(f"Número de compras de la Subcategoria {doc['_id']}: {doc['num_compras']}")

Número de compras de la Subcategoria Cemento Gris: 757
Número de compras de la Subcategoria Entrepiso: 6
Número de compras de la Subcategoria Herramientas de corte y desbaste: 12
Número de compras de la Subcategoria Bloques: 171
Número de compras de la Subcategoria CABLES Y ACCESORIOS UTP: 10
Número de compras de la Subcategoria TORNILO PARA DRYWALL: 1
Número de compras de la Subcategoria TORNILLO PARA DRYWALL: 3
Número de compras de la Subcategoria CUBIERTAS Y TEJAS: 75
Número de compras de la Subcategoria TUBERÍA CONDUIT PVC Y ACCESORIOS: 23
Número de compras de la Subcategoria Arena: 281
Número de compras de la Subcategoria Arenas: 297
Número de compras de la Subcategoria Mortero: 10
Número de compras de la Subcategoria Acero de Construcción: 584
Número de compras de la Subcategoria CLAVOS Y PUNTILLAS: 90
Número de compras de la Subcategoria ADHESIVOS Y SILICONAS (PARA PISOS Y PAREDES): 28
Número de compras de la Subcategoria Diluyentes y Disolventes: 4
Número de compras de la Subcategoria Estucos y Masillas: 8
Número de compras de la Subcategoria Plomeria: 504

**Realiza la agregación para contar el número de clientes distintos que compraron la categoría de materiales de construcción**

In [ ]:
pipeline = [
    {
        "$match": {"Categoria": "MATERIALES DE CONSTRUCCIÓN"}
    },
    {
        "$group": {
            "_id": "$Nombre Usuario"
        }
    },
    {
        "$count": "num_clientes"
    }
]

resultado = list(collection.aggregate(pipeline))

# Verifica si se encontraron resultados y muestra el número de clientes distintos
if resultado:
    num_clientes = resultado[0]["num_clientes"]
    print(f"Número de clientes distintos que compraron la categoría de materiales de construcción: {num_clientes}")
else:
    print("No se encontraron clientes que hayan comprado la categoría de materiales de construcción")

Número de clientes distintos que compraron la categoría de materiales de construcción: 114

In [ ]:
# Realiza la agregación para obtener los nombres de las distintas ciudades y departamentos
pipeline = [
    {
        "$group": {
            "_id": None,
            "ciudad": {"$addToSet": "$ciudad"},
            "departamentos": {"$addToSet": "$DEPARTAMENTO"}
        }
    }
]

resultado = collection.aggregate(pipeline)

# Obtén los nombres de las ciudades y departamentos
if resultado.alive:
    doc = next(resultado, None)
    if doc:
        ciudad = doc["ciudad"]
        departamentos = doc["departamentos"]
        print("ciudad:")
        for ciudad in ciudad:
            print(ciudad)
        print("\nDepartamentos:")
        for departamento in departamentos:
            print(departamento)
    else:
        print("No se encontraron ciudades ni departamentos en la base de datos")
else:
    print("No se encontraron ciudades ni departamentos en la base de datos")

ciudad:
Fonseca
Pereira
Socorro
Chigorodo
San Gil
Bogotá DC
Neiva
Armenia
Maicao
Florencia
Villavicencio
Puerto Asis
Caucasia
Rivera
Tulua
Mariquita
Turbo
Espinal
La Plata
Mocoa
Garzón
Palmira

Departamentos:
Valle Del Cauca
Santander
Antioquia
La Guajira
Quindío
Tolima
Caquetá
Putumayo
Risaralda
Bogotá DC
Meta
Huila

In [ ]:
# Realiza la agregación para contar el número de compras por departamento
pipeline = [
    {
        "$group": {
            "_id": "$DEPARTAMENTO",
            "num_compras": {"$sum": 1}
        }
    }
]

resultado = collection.aggregate(pipeline)

# Imprime el número de compras por departamento
for doc in resultado:
    print(f"Número de compras en el departamento {doc['_id']}: {doc['num_compras']}")

Número de compras en el departamento Caquetá: 4
Número de compras en el departamento Meta: 3
Número de compras en el departamento Santander: 2791
Número de compras en el departamento Tolima: 8
Número de compras en el departamento Bogotá DC: 2
Número de compras en el departamento None: 8
Número de compras en el departamento Quindío: 4
Número de compras en el departamento Putumayo: 6
Número de compras en el departamento Valle Del Cauca: 4
Número de compras en el departamento Antioquia: 13
Número de compras en el departamento La Guajira: 9
Número de compras en el departamento Risaralda: 6
Número de compras en el departamento Huila: 19

In [ ]:
db.drop_collection("clientes")

{'nIndexesWas': 1,
 'ns': 'cluster1.clientes',
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1687836449, 3),
  'signature': {'hash': b'\xaf\xc1\x85\x1c\x14E\xed\x9e).\x1c*\xafd\x92\xcbf,\x88:',
   'keyId': 7193245638618775554}},
 'operationTime': Timestamp(1687836449, 3)}